<%- include("partials/login_header"); -%>

<h1>Home</h1>
<p> <%= homeContent %> </p>

<% contents.forEach(function(content){ %>
    <h1><%=content.name%></h1>
    <p><%=content.body.substring(0,200) + "..."%><a href="/posts/<%=content._id%>">Continue Reading</a></p>
<% }); %>


<%- include("partials/footer"); -%>